/* svg {
  background: #eee;
  overflow: visible;
} */

.Svg {
  background: #eee;
  overflow-x: visible;
  overflow-y: visible;
  /* overflow: scroll; */
}
/* .SvgContainer {
  background: blue;
  overflow: visible;
} */

.UpdateButton {
}

.FilterButton {
}
