.Svg {
  display: block;
  width: 100%;
  height: 300px;
  background: #f7f7f7;
  overflow: visible;
}

.Svg rect.selection {
  stroke: none;
}

#root {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  padding: 0 50px;
  text-align: center;
  box-sizing: border-box;
}

.fields {
  margin-bottom: 1rem;
}

.field {
  display: inline-block;
  margin: 0 0.5em;
}

.field input {
  margin-right: 0.5em;
}
