.Svg {
  display: block;
  width: 100%;
  height: 200px;
  background: #f7f7f7;
  overflow-x: visible;
  overflow-y: visible;
}

.Svg rect.selection {
  stroke: none;
}
#root {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  padding: 0 50px 150px;
  text-align: center;
  box-sizing: border-box;
}

table {
  height: 200px;
  background: #eee;
}
